/* @red: #EF6161; */
/* @green: #7ac142; */

.login-page {
  position: absolute;
  /* width: 100%; */
  width: 500px;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 50%;
  /* background: #f7f7f7; */
  transform: translate(-50%, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: left;
  /* color: @green; */
  letter-spacing: 1px;
  margin: 0px;
  /* font-size: 18px; */
  font-weight: bold;
}

.title-wrap {
  margin-top: 10%;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
}

.content-wrap {
  margin-top: 40px;
  /* width: 80%; */
  flex: 1 0 1;
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  :-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.input-title {
  font-size: 23px;
  font-weight: 600;
  color: #262626;
}

.input-wrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.input-wrap:focus-within {
  border: 1px solid #e854cc;
}

.input-txt {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.input-txt::placeholder {
  color: #dadada;
}

.error-m-wrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.button-wrap {
  flex: 1 0 1;
  margin-top: 20px;
}

.bottom-button {
}

.bottom-button:disabled {
  background-color: #dadada;
  color: white;
}

hr {
  background-color: #dadada;
  margin-top: 16px;
  height: 0.3px;
  width: 100%;
  border: none;
}

.register-wrap {
  flex: 1 0 1;
  margin-top: 5px;
}

.register-title {
  font-size: 14px;
  font-weight: 400;
  color: #919191;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 800 !important;
  color: #e854cc !important;
  cursor: pointer;
}
